.buttons{
    display: flex;
    gap: 38px;
}

.show_more_button, .delete_button, .decline_button, .edit_button, .accept_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 46px;
    background-color: #D9D9D9;
    border-radius: 14px;
    border: solid rgba(0, 0, 0, 0.6);
    border-width: 2px 2px 6px 2px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.show_more_button .not_expanded{
    font-size: 24px;
    color: black;
}

.show_more_button .expanded{
    font-size: 24px;
    color: #2761CE;
}

.smooth_transition{
    width: 0;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.smooth_transition.open{
    width: 160px;
}

.options_buttons{
    display: flex;
    align-items: center;
    gap: 38px;
    padding-bottom: 6px;
}

.delete_button{
    font-size: 24px;
    color: #870000;
}

.decline_button{
    font-size: 26px;
    color: #870000;
}

.edit_button{
    font-size: 24px;
    color: #E9BA00;
}

.accept_button{
    font-size: 24px;
    color: #4EA60A;
}