.home_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.background_pic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background-image: url(../../../Assets/Pictures/ntantades_welcome_page_background_cropped.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.search_text_row{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 45px;
    padding: 0 50px;
}

.search_column{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.location_search{
    background-color: #90B2EF;
    padding: 10px 16px 15px;
    border-radius: 9px;
    width: 580px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
}

.location_search p{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.search_area{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin-top: 10px;
    height: 31px;
}

.location_icon{
    font-size: 20px;
    margin: 4px 10px;
    color: #5C5C5C;
}

.search_icon{
    font-size: 20px;
    color: white;
}

.location_search_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
    padding-left: 4px;
    height: 100%;
    background-color: #2F72EF;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.search_area input{
    width: 100%;
    height: 80%;
    border: 0;
    outline: 0;
}

.search_text_row h1{
    margin: 0 110px;
    text-align: left;
    width: 400px;
    font-size: 32px;
    color: black;
    text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
    line-height: 1.15;
}

.search_text_row span{
    font-size: 40px;
    color: #2F72EF;
}

.search_text_row .exclamation{
    color: black;
}

.gradient_white{
    width: 100%;
    height: 240px;
    background: linear-gradient(transparent, white);
}
