.stars_container {
  display: flex;
}
  
.star {
  font-size: 16px;
}
  
.star_big {
  font-size: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating, .rating_big {
  margin: 0;
  margin-left: 10px;
  font-family: 'Crimson Text';
}

.rating {
  font-size: 16px;
}

.rating_big {
  font-size: 36px;
}