.babysitter_details_main_content {
  width: 1329px;
  margin: auto;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.babysitter_details_top_container {
  display: flex;
  justify-content: space-between;
}

.babysitter_details_left_sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile_pic {
  width: 200px;
  height: 200px;
}

.babysitter_details_rating {
  display: flex;
  gap: 7px;
}

.babysitter_details_left_sidebar .babysitter_details_personal_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.personal_info_content {
  display: flex;
  justify-content: start;
}

.personal_info_content > .info_label {
  font-weight: 700;
  width: 70%;
}

.babysitter_details_top_container_main {
  padding-top: 60px;
  width: 900px;
  display: flex;
  flex-direction: column;
}

.babysitter_details_top_bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.babysitter_details_options_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  width: 35px;
  height: 29px;
  border-radius: 5px;
  position: relative;
}

.babysitter_details_options_button:hover {
  cursor: pointer;
}

.babysitter_details_top_container_main > hr {
  margin-bottom: 30px;
}

.babysitter_details_top_container_main > textarea {
  width: 90%;
  height: 100px;
  align-self: center;
  resize: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  background-color: white;
  font-family: Inter;
  color: black;
  margin-top: 10px;
}

.personal_info_no_active_listing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  width: 80%;
}

.babysitter_details_section_container > h3 {
  font-size: 20px;
}

.babysitter_details_general_info {
  margin-top: 40px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: fit-content;
  row-gap: 25px;
}

.babysitter_details_education {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto;
  width: fit-content;
  row-gap: 25px;
  column-gap: 30px;
}

.babysitter_details_education > h3 {
  font-size: 20px;
}

.babysitter_details_education_field {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
}

.babysitter_details_education_field > p {
  font-size: 14px;
}

.babysitter_details_certification_container {
  width: 600px;
  margin-left: 120px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 25px;
}

.babysitter_details_certification {
  background-color: #D9D9D9;
  height: 53px;
  display: flex;
  padding-left: 30px;
}

.babysitter_details_certification > h5 {
  font-size: 16px;
  align-self: center;
}

.babysitter_details_experience {
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.babysitter_details_experience p {
  font-size: 16px;
}

.babysitter_details_experience span {
  font-weight: 800;
}

.babysitter_details_services {
  margin-top: 20px;
  margin-left: 100px;
}

.babysitter_details_services li {
  padding: 8px;
  font-size: 14px;
}

.babysitter_details_availability {
  margin-top: 40px;
  margin-left: 100px;
}

.babysitter_availability_date_container {
  width: 860px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 40px;
  row-gap: 40px;
  column-gap: 80px;
}

.occupation_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  font-size: 15px;
}

.occupation_type p {
  font-weight: 800;
}

.babysitter_details_references_container {
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.babysitter_ratings_container {
  width: 900px;
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.babysitter_ratings_list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}