.inner_instruction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    background-color: white;
    padding: 15px 10px;
    border-radius: 7px;
    border: 2px solid #9CBAF1;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
    transition: border-radius 0.3s ease-in-out;
    cursor: pointer;
}

.inner_instruction.open{
    border-radius: 7px 7px 0 0;
}

.inner_instruction p{
    font-size: 16px;
    margin: 0;
}

.inner_instruction .angle_icon{
    font-size: 26px;
    margin: 0;
}

.inner_instruction_dropdown{
    height: 0;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

.inner_instruction_dropdown.open{
    height: 250px;
}

.inner_instruction_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    width: 1110px;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 20px 7px;
    border-radius: 0 0 7px 7px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
}

.step{
    display: flex;
}

.step_rect{
    width: 8px;
    height: 104px;
    background-color: #C5C5C5;
}

.step img{
    width: 104px;
    height: 104px;
}

.step_text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 760px;
    margin-left: 10px;
}

.step_text ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.step_text p{
    margin: 0;
    font-size: 16px;
}

.step_text p span{
    font-weight: 600;
}
