.inner_instruction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    background-color: white;
    padding: 15px 10px;
    border-radius: 7px;
    border: 2px solid #9CBAF1;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
    transition: border-radius 0.3s ease-in-out;
    cursor: pointer;
}

.inner_instruction.open{
    border-radius: 7px 7px 0 0;
}

.inner_instruction p{
    font-size: 16px;
    margin: 0;
}

.inner_instruction .angle_icon{
    font-size: 26px;
    margin: 0;
}

.inner_instruction_dropdown{
    height: 0;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

.inner_instruction_dropdown.open{
    height: 314px;
}

.inner_instruction_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 1110px;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 35px 25px;
    border-radius: 0 0 7px 7px;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
}

.steps_row{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin: 20px 0;
}

.step{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white_circle{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: -44px;
    z-index: 1;
}

.white_circle img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.white_circle .icon_front{
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 36px;
    color: #5C5C5C;
    opacity: 0.5;
    z-index: 2;
}

.white_rect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 133px;
    background-color: white;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
}

.white_rect p{
    margin: 30px 20px 0;
    padding: 0;
    font-size: 13px;
    text-align: center;
}

.white_rect p span{
    font-weight: 600;
}
