.list_header_container {
  margin-top: 15px;
}

.list_header_title {
  font-size: 20px;
}

.list_header_table_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.list_header_pagination_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list_header_pagination_info > p {
  font-size: 15px;
}

.list_header_sorting_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list_header_sorting_info > p {
  font-size: 15px;
}