.nav_bar{
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.upper_navbar{
    padding: 0 78px;
    height: 90px;
    background-color: #003475;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    object-fit: cover;
    height: 100%;
    width: 241px;
    cursor: pointer;
}

.logo_categories_row{
    display: flex;
    align-items: center;
}

.categories{
    margin-left: 150px;
    display: flex;
    flex-grow: 1;
    gap: 40px;
}

.bottom_navbar{
    height: 10px;
    background-color: #2F72EF;
}