.history_main_content {
  width: 1110px;
  margin: auto;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
}

.history_main_content h2 {
  font-size: 18px;
}

.history_categories {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 40px;
}

.history_category {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 17px;
  border: 3px solid rgba(47, 114, 239, 0.81);
}

.history_category h2 {
  cursor: pointer;
}