.babysitter_search_filters_container {
  margin-top: 15px;
}

.babysitter_search_filters_container > p {
  font-size: 20px;
  margin-left: 33px;
}

.babysitter_search_filters {
  margin-top: 13px;
  background-color: rgba(197, 197, 197, 0.35);
  border: 1px rgba(0, 0, 0, 0.6) solid;
  border-radius: 30px;
  padding: 23px 0 23px 33px;
  width: 296px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.availability_search_button {
  padding: 10px 20px;
  margin-right: 23px;
  background-color: #2F72EF;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}