.input_container {
  margin-right: 23px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

.input_container input {
  width: 100%;
  border: 0;
  outline: 0;
}