.instruction_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1185px;
    padding: 15px 10px;
    background-color: white;
    border-radius: 7px;
    border: 2px solid #9CBAF1;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.3);
    transition: border-radius 0.3s ease-in-out;
    cursor: pointer;
}

.instruction_item p{
    font-size: 20px;
    margin: 0;
}

.instruction_item .angle_icon{
    font-size: 26px;
    margin: 0;
}

.instruction_dropdown{
    margin-top: 10px;
    margin-left: 75px;
    display: grid; 
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
    overflow: hidden;
}

.instruction_dropdown.open{
    grid-template-rows: 1fr;
}

.instruction_dropdown > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
