.breadcrumbs_container {
  margin-bottom: 35px;
  margin-left: 30px;
  margin-top: 9px;
}

.listings_history_main_content {
  width: 1610px;
  margin: auto;
  margin-top: 27px;
}

.listings_history_table_with_filters {
  display: flex;
  justify-content: space-between;
}

.listings_history_table {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}